*
    {
      --platinum: #dee5e5ff;
      --opal: #9dc5bb77;
      --mountain-medow: #17b890ff;
      --steel-teal: #5e807fff;
      --spacing-small: 10px;
      --spacing-normal: 15px;
      --spacing-large: 25px;
        padding: 0;
        margin: 0;
        box-sizing: border-box;

    }

body
    {
        font-family: "Timse New Roman";
        background-color: aliceblue;
        height: 100%;
    }
    .navbar
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;


    }
    .brand-title
    {
        font-weight: bold;
        font-size: 35px;
        margin: 10px;

    }
    .navbar-links ul
    {
        margin: 0;
        padding: 0;
        display: flex;
        text-decoration: none;
        list-style: none;



    }
    .navbar-links li a
    {
        padding: 15px 25px;
        display: block;


    }

header
    {
        background-color:cadetblue;
        color: white;
        text-align:center;
        padding: 15px;
        text-transform: uppercase;
        line-height: 1.5cm;
    }

.content
    {
        display: flex;
        margin: 0 20%;
    }
aside
    {
        padding-top: 10px;
        background-color:olivedrab;
        width:fit-content;
        height: calc(100vh - 105px);
    }

section
    {
        padding: 10px 20px;
    }

nav a
    {
        white-space: nowrap;
        padding: 6px 26px 6px 32px;
        text-decoration: none;
        font-size: 25px;
        color: black;
        display: block;
    }

nav a:hover
    {
        color: white;
        background-color: var(--steel-teal);
    }
.nav__item
{
  /* display: block;
  padding: var(--spacing-normal); */

}
.nav__item: hover, .nav__item--active
{
  color: var(--steel-teal);
}
@media screen and (max-width: 1200px)
{
  .navbar
  {
      display: inline-block;

  }

}

p
    {
        margin-top: 5px;
        margin-bottom: 25px;
        word-break: break-all;
        font-size: 20px;
        color: #333;
    }
h1
    {
      padding-top: var(--spacing-large);
      padding-bottom: var(--spacing-small);
    }
h2
    {
        margin-top: 10px;
        font-size: 30px;
    }
h3
    {
        margin-top: 10px;
        font-size: 20px;
    }

footer
    {
        background-color:cadetblue;
        color: white;
        text-align: center;
        font-style: italic;
        line-height: 1cm;
        position:absolute;
        bottom:0;
        width:100%;

    }
