*
    {
      --platinum: #dee5e5ff;
      --opal: #9dc5bb77;
      --mountain-medow: #17b890ff;
      --steel-teal: #5e807fff;
      --spacing-small: 10px;
      --spacing-normal: 15px;
      --spacing-large: 25px;
        padding: 0;
        margin: 0;
        box-sizing: border-box;

    }

body
    {
        font-family: sans-serif, "Times New Roman";
        background-color: aliceblue;
        height: 100%;

    }
    .navbar
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;


    }
    .brand-title
    {
        font-weight: bold;
        font-size: 35px;
        margin-right: 40px;
        cursor: pointer;

    }
    .navbar-links ul
    {
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style: none;



    }
    .navbar-links li
    {
        padding: 15px 25px;

        display: inline-block;
       /* display: flex; */


    }

header
    {
        background-color:cadetblue;
        color: white;
        text-align:center;
        padding: 15px;
        text-transform: uppercase;
        line-height: 1.5cm;
    }

.content
    {
        display: flex;
        margin: 0 20%;
    }
aside
    {
        padding-top: 10px;
        background-color:olivedrab;
        width:fit-content;
        height: calc(100vh - 105px);
    }

section
    {
        padding: 10px 20px;
    }

.navbar-links li a
    {
        white-space: nowrap;
        padding: 6px 26px 6px 32px;
        text-decoration: none;
        font-size: 25px;
        color: black;
        display: inline-block;
    }
.odkaz_logo
{
    text-decoration: none;
    color: white;
}

.navbar-links a:hover
    {
        color: white;
        background-color: var(--steel-teal);
        transition: all 0.6s ease 0s;
    }
.nav__item
{
  /* display: block;
  padding: var(--spacing-normal); */

}
.nav__item: hover, .nav__item--active
{
  color: var(--steel-teal);

}
@media screen and (max-width: 1280px)
{
    .navbar-links li a
    {

        font-size: 20px;

    }
    .content
    {

        margin: 0 15%;
    }
}

@media screen and (max-width: 1135px)
{
  .navbar-links li
  {
      display: block;

  }
  .brand-title
  {
    display: none;
  }
  .content
    {

        margin: 0 10%;
    }


}
@media screen and (max-width: 500px)
{
    .content
    {

        margin: 0 3%;
    }
}

p
    {
        margin-top: 5px;
        margin-bottom: 25px;
        word-break: break-all;
        font-size: 17px;
        color: #333;
    }
h1
    {
      padding-top: var(--spacing-large);
      padding-bottom: var(--spacing-small);

    }
h2
    {
        text-align: center;
        margin-top: 10px;
        font-size: 35px;
        text-decoration: underline;
        margin-top: 50px;
    }
h3
    {
        margin-top: 20px;
        font-size: 25px;
        margin-top: 40px;
        margin-bottom: 10px;

    }
    h4
    {
      margin-top: 15px;
      font-size: 20px;
    }

footer
    {
        background-color:cadetblue;
        color: white;
        text-align: center;
        font-style: italic;
        line-height: 1cm;
       /* position:absolute; */
        bottom:0;
        width:100%;

    }

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, max-width 300px);
    grid-gap: 10px;
}

.grid-container > div {
  text-align: left;
  font-size: 30px;
}
@media (min-width: 900px) {
    .grid-container { grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-content: center;
    }
}
.sekce {
text-align: center;
}
